html { padding-top: 60px }
#pdb { display: block; background: url(images/bg.png) repeat-x 0 0; width: 100%; height: 63px; position: fixed; top: 0; left: 0; z-index: 999; font: 13px/18px Arial, Helvetica, sans-serif; color: #333 }
body.admin-bar #pdb { top: 28px }
#pdb .in { display: block; width: 980px; height: 63px; position: relative; margin: 0 auto }
#pdb a.logo { float: left; display: inline; width: 125px; height: 60px; background: url(images/progo.png) no-repeat 0 0; text-indent: -999em; margin: 0 36px 0 8px }
#pdb label { float: left; margin: 22px 0 0; font-weight: bold }
#pdb select { float: left; margin: 21px 15px 0 8px }
#pdb a.buy { float: right; width: 152px; height: 30px; margin: 15px 0 0; text-indent: -999em; background: url(images/buytheme.jpg) no-repeat 0 0 }


#pdbc { display: block; width: 26px; height: 25px; position: absolute; top: 16px; right: 10px; text-indent: -999em; background: url(images/arrow.png) no-repeat 0 0 }
#pdbc.off { background-position: 0 -25px }